* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14;
    background-color: #f2f2f2;
}

.wrapper {
    background-color: #fff;
    width: 500px;
    padding: 25px;
    margin: 50px auto 0;
    border-top: 5px solid #f5ba1a;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.wrapper h2 {
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.input-name {
    width: 90%;
    position: relative;
}